*{
    margin: 0;
    padding: 0;
  
}
form{
    text-align: center;
}
fieldset{
    margin: 40px 35% 3% 35%;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    padding: 30px 0 30px 0;
}
label ,input {
    margin-right: 30px;
    margin-bottom: 20px;
}
#submit{
    padding: 5px;
}
#submit:hover{
    background-color: black;
    color:olivedrab;
}
table ,td,th{
    margin: 40px 40% 0 40%;
    border:1px solid black;
    width: 35%;
    margin: 40px 35% 3% 35%;
    text-align: left;
    border-radius: 4px;

}
tr:hover{
    background-color: deepskyblue;
    cursor: pointer;
}
#remove-btn{
    margin-left: 60%;
}